<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" configfailurepolicy="continue">
    <listeners>
        <listener class-name="TestListener"></listener>
        <listener class-name="AnnotationTransformer"></listener>
    </listeners>
    <test name="test1" >
        <classes>
              <class name="DataProviderImplementation" /> 
        </classes>
    </test>
</suite>
